* {
  box-sizing: border-box;
}
html, body {
  height: 100vmin;
  margin: 0;
  overflow: hidden;
}

form {
  height: 100%;
}

#diagnostic {
  height: 100%;
  overflow: scroll;
  padding: 0 0.83em 0.83em;
}

.pull_left {
  float: left;
  width: 25%;
}

.center {
  float: left;
  width: 75%;
  padding: 0.83em;
}

#problems {
  height: 100vmin;
  overflow: scroll;
}

.problem-item {
  float: left;
  width: 47%;
  height: 50%;
  padding: 0.415em;
  margin-right: 0.415em;
  margin-bottom: 0.415em;
  background: lightgray;
}

.problem-item h2 {
  color: white;
}

.problem-item div {
  float: left;
}

.problem-image-container {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}