* {
  box-sizing: border-box;
}
html, body {
  height: 100vmin;
  margin: 0;
  overflow: hidden;
}

form {
  height: 100%;
}

.diagnostic {
  height: 100%;
  overflow: scroll;
  padding: 0 0.83em 0.83em;
}

.pull_left {
  float: left;
  width: 25%;
  background: red;
}

/*.pull_right {
  float: right;
  width: 20%;
}*/

.center {
  float: left;
  width: 75%;
  background: blue;
}

#problems {
  height: 100vmin;
  overflow: scroll;
}

.problem-item div {
  float: left;
}

.problem-item:after {
  display: block;
  content: "";
  height: 0px;
  clear: both;
}

.problem-image-container {
  border: 1px dotted black;
  margin-right: 10px;
}

.problem-image-container img {
  width: 200px;
}